.footer {
  background-color: #0686f9;
  position: relative;
  overflow: hidden;
  padding: 2rem 0 5rem;
  background-image: url("../img/footer-bg.svg");
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: cover;

  &__content {
    position: relative;
    display: flex;
    max-width: 104.9rem;
    margin: 0 auto;
    z-index: 3;
  }

  &__subtitle {
    font-size: 3.6rem;
    line-height: 4.3rem;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0 0 6rem;

    @media (max-width: $tablet) {
      font-size: 16px;
      line-height: 19px;
    }
  }

  &__item {
    width: 50%;
    padding: 3rem 0 7rem 12.8rem;

    @media (max-width: $tablet) {
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &:first-child {
      border-right: 5px solid $white;

      @media (max-width: $tablet) {
        border-width: 2px;
      }
    }
  }

  &__image {
    @media (max-width: $tablet) {
      max-width: 100px;
    }
  }
}
