.header {
  position: relative;

  &__circles {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;

    @media (max-width: $tablet) {
      display: none;
    }
  }

  &__circles-mobile {
    display: none;
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;

    @media (max-width: $tablet) {
      display: block;
      width: 100%;
    }

    @media (max-width: 696px) {
      width: 696px;
      max-width: 696px;
      top: 43%;
      left: 50%;
      width: 696px;
      max-width: 696px;
      transform: translate(-50%, -50%);
    }
  }

  &__container {
    position: relative;
    z-index: 10;
  }

  &__trees {
    top: 3.7rem;
    right: 0;
    position: absolute;
    z-index: 9;
    @media (max-width: $tablet) {
      display: none;
    }
  }

  &__trees-mobile {
    position: absolute;
    top: 30px;
    right: 0;
    display: none;
    z-index: 2;

    &--left {
      left: 0;
      right: auto;
      transform: scaleX(-1);
    }

    @media (max-width: $tablet) {
      display: block;
    }
  }

  &__content {
    padding: 2rem 0 0;
    display: flex;
    justify-content: space-between;

    @media (max-width: $tablet) {
      flex-direction: column-reverse;
    }
  }

  &__bullet {
    color: $blue;
    font-weight: 500;
    background-color: $yellow;
    padding: 1.3rem 1.6rem;
    border-radius: 200px;
    text-align: center;
    font-size: 3rem;
    line-height: 3.6rem;
    margin: 0 0 4.8rem;

    &--pastel {
      background-color: $pastel;
    }

    p {
      margin: 0;
    }

    @media (max-width: $tablet) {
      font-weight: 500;
      font-size: 2rem;
      line-height: 2.6rem;
      width: calc(50% - 1.4rem);
      margin: 0;
    }

    @media (max-width: $mobile) {
      font-size: 1.2rem;
      line-height: 1.4rem;
    }

    @media (max-width: $xs) {
      width: 100%;
      margin: 0 0 20px;
    }
  }

  &__info {
    flex-shrink: 0;
    flex-grow: 1;
    margin-left: 9.5rem;
    padding: 4.7rem 0 0;

    @media (max-width: $tablet) {
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin: 0 0 17px;
    }

    @media (max-width: $xs) {
      flex-direction: column;
    }
  }

  &__logo {
    img {
      width: 52.3rem;

      @media (max-width: $tablet) {
        margin: 0 auto;
        width: 264px;
      }
    }
  }

  &__subtitle {
    font-size: 3.6rem;
    line-height: 4.3rem;
    text-align: center;
    text-transform: uppercase;
    padding: 16.5rem 0 0;
    margin: 0 0 11rem;

    @media (max-width: $tablet) {
      padding: 36px 0 0;
      margin: 0 0 36px;
      font-size: 20px;
      line-height: 24px;
      max-width: 90%;
      margin: 0 auto 36px;
    }
  }
}
